.BuffResult{
    background: white;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
  }

  .resulttitle {
    padding: 0.7rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;;
    color: white;
  }
  
  .register-form-wrapper {
    padding: 1rem;
  }
  
  .members-wrapper {
    min-height: 3rem;
  }
  
.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }  
  .create-button:hover {
    background: #3bc9db;
  }


    .selectBox2 {
        display: flex;
        margin:20px;
        border-bottom: 1px solid black; 
        background-color: rgba(0,0,0,0);
        color:black; 
        padding: 5px;
      }
      .selectBox2 span {
        display:inline-block;
        width:150px;
        text-align:right;
    }

    .DoneReload {
      display: flex;
      text-align: center;
      }
.DoneReload box {
          flex:1;
          margin:15px;
          margin-bottom: 30px;
          border: 1px solid #3794b9; 
          background-color:linear-gradient(#FFFFFF, #B0B0B0);
          color: gray; 
          padding: 10px;
          border-radius: 10px;
          }
