.Home{
    background: white;
    width: 100%;
    text-align: center;
    max-width: 800px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
  }
  
  .testtitle {
    display: inline-block;
    width: 100%;
    margin: 5px;
    padding: 0.7rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
    background: #22b8cf;
    color: white;
}

  
.answerspot {
  max-height: 500px;
  background-color: #efefef;
  overflow: auto;
  padding: 15px;
  border-radius: 10px;
}

.databox {
  display: flex;
  margin-bottom:20px;
  border-bottom: 1px solid black; 
  background-color: rgba(0,0,0,0);
  color:black; 
  font-size: 0.9rem;
  font-weight: bold;
}


.answerbox{
  position: relative;
  flex: 0.3;
  color: rgb(85, 80, 80);
  margin: auto 0;
}

.sentencebox{
  position: relative;
  flex: 1;
  color: rgb(85, 80, 80);
  margin:  0 auto;
}

.wrongbox{
  position: relative;
  margin-left:0 auto;
}

.chat-submit2 {  
  position: relative;
  display: inline-block;
  background: transparent;
  box-shadow:none;
  border:none;
  cursor: pointer;
  border-radius:50%;
  color:#5A5EB9;
  margin-left: -35px;
}


#chat-input2 {
  display: inline-block;
  background: #f4f7f9;
  width:75%; 
  position:relative;
  height:30px;  
  padding-top:10px;
  padding-right:55.2px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:#888;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:auto;  
}
.chat-input2 > form {
    margin-bottom: 0;
}
#chat-input2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input2::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input2:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input2:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}