.Home3 {
    background: white;
    width: 100%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* 그림자 */
    margin: 0 auto;
    /* 페이지 중앙 정렬 */
    margin-top: 2rem;
}

main {
    display: block;
}

.title2 {
    display: inline-block;
    width: 40%;
    margin: 5px;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 100;
    background: #22b8cf;
    color: white;   
}

.title2:hover{
    background: #19cce7;
    color: white;   
}

.form-wrapper {
    padding: 1 rem;
    text-align: left;
    margin-left: 5%;
}

.members-wrapper {
    min-height: 3rem;
}

.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    text-align: center;
    margin: 20px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button:hover {
    background: #3bc9db;
}

.create-button2 {
    width: 60%;
    padding: 5px;
    font-size: smaller;
    margin: 0 auto;
    background: #e7788b;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button2:hover {
    background: #3bc9db;
}

.inputBox2 {
    margin: auto;
    border: 20px;
}

.selectBox {
    margin:20px;
    margin-bottom: 30px;
    border: 1px solid #3794b9; 
    background-color: rgba(0,0,0,0);
    color:skyblue; 
    padding: 5px;
    border-radius: 10px;

  }
  .selectBox waitNumber{
    font-size: 0.8rem;
    margin:auto 0;
    margin-left: auto;
    color: rgb(138, 135, 135);
  }

  
  .waitSelectBox {
    display: flex;
    margin:20px;
    border-bottom: 1px solid black; 
    background-color: rgba(0,0,0,0);
    color:black; 
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px;
  }


.inputBox2 input {
    font-size: 1rem;
}

.selectBuff box {
    flex: 1;
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid gray;
    background-color: linear-gradient(#FFFFFF, #B0B0B0);
    color: gray;
    padding: 10px;
    border-radius: 10px;
}

.waitSelectBox x-box{
    position: relative;
    color: rgb(26, 24, 24);
    height: 5px;
    margin-left: auto;
}
